@import "tailwindcss";

@font-face {
  font-family: "IvarDisplayHydro";
  src: url("/font/IvarDisplayHydro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Instrument Sans variable (normal) */
@font-face {
  font-family: "InstrumentSans";
  src: url("/font/InstrumentSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900; /* variable range */
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dynamic-x-padding {
  padding-left: 96px;
  padding-right: 96px;
}
.dynamic-y-padding {
  padding-top: 48px;
  padding-bottom: 48px;
}
.dynamic-padding {
  padding-top: 48px;
  padding-bottom: 48px;
    padding-left: 96px;
  padding-right: 96px;
}


h1 {
  font-family: "IvarDisplayHydro";
  font-weight: 400;
  font-size: 54px;
}
h2 {
  font-family: "InstrumentSans";
   font-weight: 700;
  font-size: 28px;
}
p {
  font-family: "InstrumentSans";
  font-weight: 400;
  font-size: 20px;
}
.small-text {
    font-family: "InstrumentSans";
  font-weight: 400;
  font-size: 16px;
}